.logo {
  display: block;
  position: absolute;
  top: 36%;
  left: 44.5%;
  background-image: url("../img/svg/logo.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 127px;
  min-height: 134px;
}
